	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="https://sarahymurphy.github.io/about/">About</a>
			</li>
			<li>
				<a href="https://sarahymurphy.github.io/pubs/">Publications</a>
			</li>
			<li>
				<a href="https://sarahymurphy.github.io/workshops/">Workshops</a>
			</li>
			<li>
				<a href="https://sarahymurphy.github.io/talks/">Presentations</a>
			</li>
			<li>
				<a href="https://sarahymurphy.github.io/CV.pdf">CV</a>
			</li>
			<li>
				<a href="https://sarahymurphy.github.io/portfolio/">CV</a>
			</li>
<!--
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
-->
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
